body{
    background-color: #fafafa;
    color: black;
    text-align: center;
}

/** Bootstrap Overrides **/

.text-primary {
    color: #96281b !important;
}
.btn-primary {
    background-color: #96281b !important;
}

.input-group-append {
    margin-left: -4px;
}

.form-control {
    transition: border-color 0.5s;
    border-color: #96281b;
}
.form-control:focus, .form-control:hover {
    border-color: #96281b !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(150, 40, 27, 0.25) !important; 
}

/** Common **/
.btn-icon {
    width: 20px;
}
.btn-icon-lg {
    width: 30px;
}
/** header **/
#header .logo {
    height: 60px;
}

#header .logo-sub {
    font-weight: 500;
}

/** Preloader **/

#preloader {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 999;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    transition: 1s all;
}

/** Logo Text **/
.logo {
    font-family: 'Poppins', sans-serif;
    font-size: 54px;
    font-weight: 700;
}

table, th, td {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 50px;
}