{% extends 'core/base.html' %}
{% load static %}

{% block content %}

    {% include 'core/components/_preloader.html' %}
    <div id="app">
        <b-container>
            <b-row>
                <b-col>
                    {% include 'core/components/_header.html' %}
                </b-col>
            </b-row>
            <b-row>
                <b-col cols="12" md="{% block content_width_cols %}8{%endblock %}" class="mx-auto">
                    <b-row class="overflow-hidden mt-4">
                        <b-col cols="12" md="12" class="{% block content_right_class %}px-4 py-2{% endblock %}">
                            {% block content_right %}{% endblock %}
                        </b-col>
                    </b-row>
                </b-col>
            </b-row>
        </b-container>
        {% include 'core/components/_footer.html' %}
    </div>
{% endblock %}